*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca', sans-serif;
}

#header,
#footer {
    display: flex;
    align-items: center;
    background-color: #6930C3;
    padding: 16px 0 16px 0;
    margin: 0;
}

#header {
    position: fixed;
    width: 100%;
}

#footer {
    justify-content: center;
}

.logo {
    display: flex;
    align-items: center;
    width: 70%;
}

#header-img {
    max-width: 300px;
    margin-left: 1.25rem;
}

#nav-bar {
    width: 30%;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #ffd60a;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-link {
    list-style-type: none;
}

#newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
}

#description {
    width: 40%;
    font-size: 20px;
    text-align: center;
}

#email {
    width: 300px;
    padding: 10px;
    font-family: inherit;
    margin-bottom: 20px;
}

#form {
    display: inherit;
    flex-direction: inherit;
    align-items: inherit;
}

button {
    font-family: inherit;
    background: #6930C3;
    color: white;
    border: 1px solid #6930C3;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    animation-name: button;
    animation-duration: 1500ms;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

#submit {
    width: 210px;
    height: 40px;
}

@keyframes button {
    20% {
        background: #602DB4;
    }
    40% {
        background: #5829A3;
    }
    60% {
        background: #462183;
    }
    80% {
        background: #5829A3;
    }
    100% {
        background: #6930C3;
    }
}

#features {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.container {
    display: inherit;
    align-items: inherit;
    justify-content: center;
    width: 40%;
    padding: 20px;
}

.icon {
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    color: #602DB4;
    width: 30%;
}

.inform {
    display: inherit;
    flex-direction: column;
    justify-content: inherit;
    text-align: justify;
    width: 70%;
}

.titlebox {
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.descriptionbox {
    margin: 0;
    padding: 0;
}

#quality {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    background: linear-gradient(-45deg, #6930C3, #A27CDE, #462183, #B99DE7);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

#textvideo {
    padding: 10px 0 10px 0;
}

#video {
    width: 33%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#pricing {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px 0 40px 0;
    width: 60%;
    margin-left: 20%;
}

.item {
    display: inherit;
    flex-direction: column;
    align-items: center;
    border: 1px solid #6930C3;
    width: calc(100% / 3);
    margin: 10px;
}

.highlight {
    display: inherit;
    align-items: inherit;
    justify-content: center;
    background: #6930C3;
    color: white;
    width: 100%;
}

.product {
    width: 100%;
}

.itemdescrip {
    display: inherit;
    flex-direction: inherit;
    align-items: inherit;
    padding: 10px 0 10px 0;
    font-size: 16px;
}

.descrip {
    padding: inherit;
}

.buttondiv {
    display: inherit;
    justify-content: center;
    align-self: stretch;
}

.buttonitem {
    width: 50%;
    height: 50px;
    margin: 10px 0 10px 0;
    cursor: pointer;
}

#footer-center {
    display: inherit;
    align-items: inherit;
    width: 60%;
}

#footer-logo {
    width: 60%;
}

#footer-img {
    max-width: 50px;
}

#links-center {
    display: flex;
    flex-direction: column;
    width: 40%;
}

#footer-menu {
    width: 100%;
}

span {
    text-align: right;
    color: white;
}

#footer-menu .nav-link {
    margin-left: 10px;
    width: fit-content;
    float: right;
}