*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca', sans-serif;
}

#header {
    display: flex;
    position: fixed;
    align-items: center;
    background-color: #6930C3;
    width: 100%;
    padding: 16px;
    margin: 0;
}

.logo {
    display: flex;
    align-items: center;
    width: 100%;
}

#header-img {
    max-width: 300px;
}

#nav-bar {}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #5E60CE;
}

ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    justify-content: space-around;
}

li {
    list-style-type: none;
}

#newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
}

#description {
    width: 40%;
    font-size: 20px;
    text-align: center;
}

#email {
    width: 300px;
    padding: 10px;
    font-family: inherit;
    margin-bottom: 20px;
}

#submit {
    display: inherit;
    flex-direction: inherit;
    align-items: inherit;
}

#buttonnews {
    width: 210px;
    height: 40px;
    font-family: inherit;
    background: #6930C3;
    color: white;
    border: 1px solid #6930C3;
    border-radius: 5px;
}

#buttonnews:hover {
    animation-name: button;
    animation-duration: 1500ms;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes button {
    20% {
        background: #602DB4;
    }
    40% {
        background: #5829A3;
    }
    60% {
        background: #462183;
    }
    80% {
        background: #5829A3;
    }
    100% {
        background: #6930C3;
    }
}

#advantages {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.container {
    display: inherit;
    align-items: inherit;
    justify-content: center;
    width: 40%;
    padding: 20px;
}

.icon {
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    color: #602DB4;
    width: 30%;
}

.inform {
    display: inherit;
    flex-direction: column;
    justify-content: inherit;
    text-align: justify;
    width: 70%;
}

.titlebox {
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.descriptionbox {
    margin: 0;
    padding: 0;
}

#videobox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    background: linear-gradient(-45deg, #6930C3, #A27CDE, #462183, #B99DE7);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

#textvideo {
    padding: 10px 0 10px 0;
}

#video {
    width: 33%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#pricing {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px 0 30px 0;
    width: 50%;
    margin-left: 25%;
}

.item {
    border: 1px solid #6930C3;
    width: 30%;
    height: 70%;
}